* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #0b0f94;
}

h1 {
    color: #ffcc00;
    padding: 1em;
}

#bottone {
    background-color: #ffcc00;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1em;
}

img {
    width: 25%;
    margin-bottom: 15px;
    display: block;
    margin: 0 auto;
}